body
  font-family: 'Arial'

.controls
  padding: 1.25rem

ul
  list-style-type: none; padding: 1.25rem

li
  padding: .5rem
  margin-bottom: .25rem
  background-color: #f5f8fB 
  border-radius: 3px
  border: 1px solid #e5e8eB
  font-size: 1rem
  line-height: 1.5

li.red
  border: 1px solid rgba(255,0,0,0.4)

li.green
  border: 1px solid rgba(0,255,0,0.4)

li.blue
  border: 1px solid rgba(0,0,255,0.4)
